<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>A really small app</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Small App</a>
    </nav>
    <h2>Hostname : {{ host }}</h2>
    <div class="container">
        <table class="table table-striped">
        <thead>
        <tr>
                <th>ID</th>
                <th>Text</th>
            </tr>
        </thead>
            <tbody>
            {% for item in items %}
                <tr>
                    <td>{{ item.id }}</td>
                    <td>{{ item.data }}</td>
                </tr>
            {% endfor %}
        </tbody>
        </table>
        <a class="btn btn-primary" href="{% url "home:add" %}">Random data</a>
    </div>
</body>
</html>